<style>
  footer {
    position: fixed;
    bottom: 0;
    padding: 1em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(60px);
  }

  footer>p {
    margin: 0.1em;
  }
</style>

<footer>
  <p>Merci des reporter les bugs sur la page <a style="text-decoration: underline;" href="https://github.com/KosmoMoustache/Discord2Spotify/issues/new">Github</a> du projet</p>
  <p>Pour tout contact, merci d'envoyer un mail à contact[at]kosmo[dot]ovh</p>
</footer>